NET RS_TX			LOC=K11;
#NET RS_RX			LOC=J11;
NET  MCLK1		   LOC=J16;
NET  MCLK1		   IOSTANDARD = LVTTL;
NET RS_TX		   IOSTANDARD = LVTTL;
#NET RS_RX		   IOSTANDARD = LVTTL;
NET "MCLK1" TNM_NET = MCLK1;
TIMESPEC TS_MCLK1 = PERIOD "MCLK1" 14.25 ns HIGH 50%;
